@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
main{
    width: 100%;
    height: 100vh;
    background-image: url(images/1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.274);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    color: #fff;
}
.brand{
    color: #fff;
    font-size: 25px;
}
.brand i{
    padding: 0 15px;
}
nav .menu{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    width: 70%;
    display: flex;
    justify-content: space-between;
    list-style: none;

}

.menu ul li{
    cursor: pointer;
}
.menu ul li:hover{
    text-decoration: underline;
}

.menu a{
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    background-color: teal;
    border-radius: 20px;
}
.menu a:hover{
    background-color: #fff;
    color: teal;
}
.text-section{
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 200px;
    color: #fff;
    

}
.inside-text{
    background-color: rgba(0, 0, 0, 0.39);
    padding: 30px 50px;
    border-radius: 20px;
    border: 2px white solid;
}
.text-section p{
    font-size: 20px;
    padding: 7px;
}
.text-section h1{
    font-size: 50px;
}
.text-section a{
    padding: 8px 30px;
    background-color: teal;
    color: #fff;
    margin-bottom: -100px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;


}
.text-section a:hover{
    background-color: #fff;
    color: teal;
}
.social-links{
    width: 60px;
    height: 160px;
    position: absolute;
    font-size: 40px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.26);
    bottom: 60px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.social-links i:hover{
    color: tomato;
}